---
export interface Props {
  name: string;
  value: string;
  label?: string;
  checked?: boolean;
  disabled?: boolean;
  ariaInvalid?: boolean;
  class?: string;
}

const { name, value, label, checked, disabled, ariaInvalid, class: className = "" } = Astro.props;

let inputClass = 'input';
---

<label class="label">
  <input
    type="radio"
    name={name}
    value={value}
    class={`${inputClass} ${className}`.trim()}
    checked={checked}
    disabled={disabled}
    aria-invalid={ariaInvalid}
  />
  {label}
</label>